@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hi there!</h1>
    <p>This is my first Azure Web App</p>
</div>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core
